@model Movie

@{
    ViewData["Title"] = "Delete actor";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Delete confirmation @Model.Name</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" readonly/>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Language" class="control-label"></label>
                        <input asp-for="Language" class="form-control" readonly/>
                        <span asp-validation-for="Language" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Category" class="control-label"></label>
                        <input asp-for="Category" class="form-control" readonly/>
                        <span asp-validation-for="Category" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Status" class="control-label"></label>
                        <input asp-for="Status" class="form-control" readonly/>
                        <span asp-validation-for="Status" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Region" class="control-label"></label>
                        <input asp-for="Region" class="form-control" readonly/>
                        <span asp-validation-for="Region" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Stars" class="control-label"></label>
                        <input asp-for="Stars" class="form-control" readonly/>
                        <span asp-validation-for="Stars" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ReleDate" class="control-label"></label>
                        <input asp-for="ReleDate" class="form-control" readonly/>
                        <span asp-validation-for="ReleDate" class="text-danger"></span>
                    </div>

                    <div class="form-group" >
                        <form >
                            <input type="hidden" asp-for="Id"/>
                            <input type="submit" value="Confirm" class="btn btn-danger float-right" id="btnSubmit"/>
                        </form>
                        <a class="btn btn-outline-secondary" asp-action="Index">Show All</a>
                    </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {  
        $(function() {  
            $('#btnSubmit').click(function(event) {  
                event.preventDefault();  
                var movieData = {  
                    Id : @Model.Id,
                };  
                $.ajax({  
                    type: "POST",  
                    url: "/Movies/Delete",  
                    data: movieData,  
                    dataType: "html",  
                    contentType: 'application/x-www-form-urlencoded',  
                    success: function(data) {  
                        window.location.href = "/Movies/Index";
                        alert('Movie Deleted Successfully'); 
                    },  
                    error: function(error) {  
                        alert("Error occured!!",error)  
                    }
                });  
            });  
        });  
    }); 
</script>

