@model Contact

@{
    ViewData["Title"] = "Delete";
}

<h2>
    @ViewBag.Title
</h2>

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
        <h1>Delete Contact</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Delete">

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="FullName" class="control-label"></label>
                        <input asp-for="FullName" class="form-control" id="Name" readonly/>
                        <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" id="Email" readonly/>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Phone" class="control-label"></label>
                        <input asp-for="Phone" class="form-control" id="DOB" readonly/>
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Address" class="control-label"></label>
                        <input asp-for="Address" class="form-control" id="Address" readonly/>
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-outline-success float-right"
                            id="btnSubmit" />
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>